{{ define "admin/manager/edit.html" }}
{{ template "admin/public/page_header.html" .}}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-user-edit mr-1"></i>修改管理员</h3>
    </div>
    <div class="card-body">
        <form action="/admin/manager/doEdit" method="post">
            <input type="hidden" name="id" value="{{.manager.Id}}" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">管理员名称</label>
                <div class="col-sm-6">
                    <input type="text" name="username" class="form-control" readonly value="{{.manager.Username}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">管理员密码</label>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control" placeholder="为空表示不修改密码">
                    <small class="form-text text-muted">留空则不修改密码</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">管理员电话</label>
                <div class="col-sm-6">
                    <input type="text" name="mobile" class="form-control" value="{{.manager.Mobile}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">管理员邮箱</label>
                <div class="col-sm-6">
                    <input type="text" name="email" class="form-control" value="{{.manager.Email}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">管理员角色</label>
                <div class="col-sm-6">
                    <select name="role_id" id="role_id" class="form-control">
                        {{$roleId := .manager.RoleId}}
                        {{range $key,$value := .roleList}}
                            {{if eq $value.Id $roleId}}
                                <option selected value="{{$value.Id}}">{{$value.Title}}</option>
                            {{else}}
                                <option value="{{$value.Id}}">{{$value.Title}}</option>
                            {{end}}
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-2">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i>提交</button>
                    <a href="javascript:history.back()" class="btn btn-default ml-2"><i class="fas fa-arrow-left mr-1"></i>返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{ template "admin/public/page_footer.html" .}}
{{end}}
