{{ define "admin/focus/edit.html" }}
{{ template "admin/public/page_header.html" .}}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-image mr-1"></i>修改轮播图</h3>
    </div>
    <div class="card-body">
        <form action="/admin/focus/doEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{.focus.Id}}"/>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">名称</label>
                <div class="col-sm-6">
                    <input type="text" name="title" class="form-control" value="{{.focus.Title}}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">类型</label>
                <div class="col-sm-6">
                    <select name="focus_type" id="type" class="form-control">
                        <option {{if eq .focus.FocusType 1}} selected {{end}} value="1">网站</option>
                        <option {{if eq .focus.FocusType 2}} selected {{end}} value="2">APP</option>
                        <option {{if eq .focus.FocusType 3}} selected {{end}} value="3">小程序</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">跳转地址</label>
                <div class="col-sm-6">
                    <input type="text" name="link" class="form-control" value="{{.focus.Link}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">轮播图</label>
                <div class="col-sm-6">
                    <div class="custom-file mb-2">
                        <input type="file" name="focus_img" class="custom-file-input" id="focusImg">
                        <label class="custom-file-label" for="focusImg" data-browse="选择文件">选择图片</label>
                    </div>
                    {{if ne .focus.FocusImg ""}}
                        <img src="{{.focus.FocusImg | FormatImg}}" width="200" class="img-thumbnail" />
                    {{end}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">排序</label>
                <div class="col-sm-3">
                    <input type="number" name="sort" class="form-control" value="{{.focus.Sort}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">状态</label>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status1" value="1" {{if eq .focus.Status 1}}checked{{end}}>
                        <label class="form-check-label" for="status1">显示</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status0" value="0" {{if eq .focus.Status 0}}checked{{end}}>
                        <label class="form-check-label" for="status0">隐藏</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-2">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i>提交</button>
                    <a href="javascript:history.back()" class="btn btn-default ml-2"><i class="fas fa-arrow-left mr-1"></i>返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{ template "admin/public/page_footer.html" .}}
<script>
$('.custom-file-input').on('change', function() {
    var fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').html(fileName || '选择文件');
});
</script>
{{end}}
