{{ define "admin/merchant/edit.html" }}
{{ template "admin/public/page_header.html" .}}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-store mr-1"></i>修改商户</h3>
    </div>
    <div class="card-body">
        <form action="/admin/merchant/doEdit" method="post">
            <input type="hidden" name="id" value="{{.merchant.Id}}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">商户账号</label>
                <div class="col-sm-6">
                    <input type="text" name="username" class="form-control" value="{{.merchant.Username}}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">登录密码</label>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control" placeholder="留空则不修改密码">
                    <small class="form-text text-muted">留空则不修改密码</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">店铺名称</label>
                <div class="col-sm-6">
                    <input type="text" name="shop_name" class="form-control" value="{{.merchant.ShopName}}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">联系电话</label>
                <div class="col-sm-6">
                    <input type="text" name="mobile" class="form-control" value="{{.merchant.Mobile}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">邮箱地址</label>
                <div class="col-sm-6">
                    <input type="text" name="email" class="form-control" value="{{.merchant.Email}}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-2">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i>提交</button>
                    <a href="javascript:history.back()" class="btn btn-default ml-2"><i class="fas fa-arrow-left mr-1"></i>返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{ template "admin/public/page_footer.html" .}}
{{end}}
