{{ define "admin/merchant/index.html" }}
{{ template "admin/public/page_header.html" .}}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-store mr-1"></i>商户列表</h3>
        <a href="/admin/merchant/add" class="btn btn-primary btn-sm"><i class="fas fa-plus mr-1"></i>增加商户</a>
    </div>
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>店铺名称</th>
                    <th>商户账号</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
            {{range $key,$value := .merchantList}}
            <tr>
                <td><i class="fas fa-store mr-1 text-success"></i>{{$value.ShopName}}</td>
                <td>{{$value.Username}}</td>
                <td>{{$value.Mobile}}</td>
                <td>{{$value.Email}}</td>
                <td>
                    {{if eq $value.Status 1}}<span class="badge badge-success">启用</span>{{end}}
                    {{if eq $value.Status 0}}<span class="badge badge-danger">禁用</span>{{end}}
                </td>
                <td>{{UnixToTime $value.AddTime}}</td>
                <td class="text-center">
                    <a href="/admin/merchant/edit?id={{$value.Id}}" class="btn btn-info btn-action"><i class="fas fa-edit mr-1"></i>修改</a>
                    <a class="btn btn-danger btn-action delete" href="/admin/merchant/delete?id={{$value.Id}}"><i class="fas fa-trash mr-1"></i>删除</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>

{{ template "admin/public/page_footer.html" .}}
{{end}}
