{{ define "merchant/goods/edit.html" }}
{{ template "merchant/public/page_header.html" .}}
{{ template "merchant/public/page_aside.html" .}}
<!-- 富文本编辑器 -->
<link href="/static/wysiwyg-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/static/wysiwyg-editor/js/zh_cn.js"></script>
<!-- 上传图片的js css -->
<link rel="stylesheet" type="text/css" href="/static/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/diyUpload/css/diyUpload.css">
<script type="text/javascript" src="/static/diyUpload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/static/diyUpload/js/diyUpload.js"></script>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><i class="fas fa-shopping-bag mr-2"></i>修改商品</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-edit mr-1"></i>修改商品</h3>
            </div>
            <div class="card-body">
                <form action="/merchant/goods/doEdit" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{.goods.Id}}">
                    <input type="hidden" name="prevPage" value="{{.prevPage}}">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#general" role="tab" data-toggle="tab"><i class="fas fa-info-circle mr-1"></i>通用信息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#detail" role="tab" data-toggle="tab"><i class="fas fa-file-alt mr-1"></i>详细描述</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mix" role="tab" data-toggle="tab"><i class="fas fa-palette mr-1"></i>商品属性</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#attribute" role="tab" data-toggle="tab"><i class="fas fa-cogs mr-1"></i>规格与包装</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#photo" role="tab" data-toggle="tab"><i class="fas fa-images mr-1"></i>商品相册</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <div class="form-group row mt-3">
                                <label class="col-sm-2 col-form-label text-right">商品标题</label>
                                <div class="col-sm-6">
                                    <input type="text" name="title" class="form-control" value="{{.goods.Title}}" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">附属标题</label>
                                <div class="col-sm-6">
                                    <input type="text" name="sub_title" class="form-control" value="{{.goods.SubTitle}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商品版本</label>
                                <div class="col-sm-6">
                                    <input type="text" name="goods_version" class="form-control" value="{{.goods.GoodsVersion}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">所属分类</label>
                                <div class="col-sm-6">
                                    <select name="cate_id" id="cid" class="form-control">
                                        {{range $key,$value := .goodsCateList}}
                                        <option value="{{$value.Id}}" {{if eq $value.Id $.goods.CateId}}selected{{end}}>{{$value.Title}}</option>
                                        {{range $k,$v := $value.GoodsCateItems}}
                                        <option value="{{$v.Id}}" {{if eq $v.Id $.goods.CateId}}selected{{end}}> ----{{$v.Title}}</option>
                                        {{end}}
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商品图片</label>
                                <div class="col-sm-6">
                                    <div class="custom-file">
                                        <input type="file" name="goods_img" class="custom-file-input" id="goodsImg">
                                        <label class="custom-file-label" for="goodsImg" data-browse="选择文件">选择图片</label>
                                    </div>
                                    {{if .goods.GoodsImg}}
                                    <p class="mt-2"><img src="{{.goods.GoodsImg | FormatImg}}" width="80" alt=""></p>
                                    {{end}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商品价格</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">¥</span></div>
                                        <input type="text" name="price" class="form-control" value="{{.goods.Price}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商品原价</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">¥</span></div>
                                        <input type="text" name="market_price" class="form-control" value="{{.goods.MarketPrice}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商品库存</label>
                                <div class="col-sm-3">
                                    <input type="number" name="goods_number" class="form-control" value="{{.goods.GoodsNumber}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商品排序</label>
                                <div class="col-sm-3">
                                    <input type="number" name="sort" class="form-control" value="{{.goods.Sort}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">商品状态</label>
                                <div class="col-sm-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" value="1" {{if eq .goods.Status 1}}checked{{end}} id="st1">
                                        <label class="form-check-label" for="st1">上架</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" value="0" {{if eq .goods.Status 0}}checked{{end}} id="st0">
                                        <label class="form-check-label" for="st0">下架</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">加入推荐</label>
                                <div class="col-sm-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="1" name="is_best" id="is_best" {{if eq .goods.IsBest 1}}checked{{end}}>
                                        <label class="form-check-label" for="is_best">精品</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="1" name="is_hot" id="is_hot" {{if eq .goods.IsHot 1}}checked{{end}}>
                                        <label class="form-check-label" for="is_hot">热销</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="1" name="is_new" id="is_new" {{if eq .goods.IsNew 1}}checked{{end}}>
                                        <label class="form-check-label" for="is_new">新品</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="detail">
                            <textarea name="goods_content" id="content" cols="100" rows="8" class="mt-3">{{.goods.GoodsContent}}</textarea>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="mix">
                            <div class="form-group row mt-3">
                                <label class="col-sm-2 col-form-label text-right">商品颜色</label>
                                <div class="col-sm-8">
                                    {{range $key,$value := .goodsColorList}}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="{{$value.Id}}" name="goods_color" id="color_{{$value.Id}}" {{if $value.Checked}}checked{{end}}>
                                        <label class="form-check-label" for="color_{{$value.Id}}">{{$value.ColorName}}</label>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">关联商品</label>
                                <div class="col-sm-6">
                                    <input type="text" name="relation_goods" class="form-control" value="{{.goods.RelationGoods}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">关联赠品</label>
                                <div class="col-sm-6">
                                    <input type="text" name="goods_gift" class="form-control" value="{{.goods.GoodsGift}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">关联配件</label>
                                <div class="col-sm-6">
                                    <input type="text" name="goods_fitting" class="form-control" value="{{.goods.GoodsFitting}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">更多属性</label>
                                <div class="col-sm-6">
                                    <input type="text" name="goods_attr" class="form-control" value="{{.goods.GoodsAttr}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">SEO关键词</label>
                                <div class="col-sm-6">
                                    <input type="text" name="goods_keywords" class="form-control" value="{{.goods.GoodsKeywords}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right">SEO描述</label>
                                <div class="col-sm-8">
                                    <textarea name="goods_desc" class="form-control" rows="4">{{.goods.GoodsDesc}}</textarea>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="attribute">
                            <div class="form-group row mt-3">
                                <label class="col-sm-2 col-form-label text-right">商品类型</label>
                                <div class="col-sm-6">
                                    <select name="goods_type_id" id="goods_type_id" class="form-control">
                                        <option value="0">--请选择商品类型--</option>
                                        {{range $key,$value := .goodsTypeList}}
                                        <option value="{{$value.Id}}" {{if eq $value.Id $.goods.GoodsTypeId}}selected{{end}}>{{$value.Title}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div id="goods_type_attribute">
                                {{.goodsAttrStr}}
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="photo">
                            <div class="mt-3">
                                <div id="photoUploader"></div>
                                <div id="photoList">
                                    {{range $key,$value := .goodsImageList}}
                                    <input type="hidden" name="goods_image_list" value="{{$value.ImgUrl}}">
                                    {{end}}
                                </div>
                            </div>
                            {{if .goodsImageList}}
                            <div class="mt-2">
                                <h6>现有图片：</h6>
                                <table class="table table-bordered text-center">
                                    <tr>
                                        {{range $key,$value := .goodsImageList}}
                                        <td>
                                            <img src="{{$value.ImgUrl | FormatImg}}" width="60" alt="">
                                            <br>
                                            <a href="javascript:;" class="btn btn-danger btn-xs removeGoodsImage" data-id="{{$value.Id}}">删除</a>
                                        </td>
                                        {{end}}
                                    </tr>
                                </table>
                            </div>
                            {{end}}
                        </div>
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i>提交</button>
                    <a href="javascript:history.back()" class="btn btn-default ml-2"><i class="fas fa-arrow-left mr-1"></i>返回</a>
                </form>
            </div>
        </div>
    </section>
</div>

{{ template "merchant/public/page_footer.html" .}}
<script>
$('.custom-file-input').on('change', function() {
    var fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').html(fileName || '选择文件');
});

new FroalaEditor('#content', {
    height: 300,
    language: 'zh_cn',
    imageUploadURL: '/merchant/goods/editorImageUpload'
});

$(function () {
    $("#goods_type_id").change(function () {
        var cateId = $(this).val()
        $.get("/merchant/goods/goodsTypeAttribute", { "cateId": cateId }, function (response) {
            var str = ""
            if (response.success) {
                var attrData = response.result;
                for (var i = 0; i < attrData.length; i++) {
                    if (attrData[i].attr_type == 1) {
                        str += '<div class="form-group row"><label class="col-sm-2 col-form-label text-right">' + attrData[i].title + '</label><div class="col-sm-6"><input type="hidden" name="attr_id_list" value="' + attrData[i].id + '" /><input type="text" name="attr_value_list" class="form-control" /></div></div>'
                    } else if (attrData[i].attr_type == 2) {
                        str += '<div class="form-group row"><label class="col-sm-2 col-form-label text-right">' + attrData[i].title + '</label><div class="col-sm-6"><input type="hidden" name="attr_id_list" value="' + attrData[i].id + '"><textarea name="attr_value_list" class="form-control" rows="3"></textarea></div></div>'
                    } else {
                        var attrArray = attrData[i].attr_value.split("\n")
                        str += '<div class="form-group row"><label class="col-sm-2 col-form-label text-right">' + attrData[i].title + '</label><div class="col-sm-6"><input type="hidden" name="attr_id_list" value="' + attrData[i].id + '" /><select name="attr_value_list" class="form-control">'
                        for (var j = 0; j < attrArray.length; j++) {
                            str += '<option value="' + attrArray[j] + '">' + attrArray[j] + '</option>';
                        }
                        str += '</select></div></div>'
                    }
                }
                $("#goods_type_attribute").html(str);
            }
        })
    })
})

$(function () {
    $('#photoUploader').diyUpload({
        url: '/merchant/goods/goodsImageUpload',
        success: function (response) {
            var photoStr = '<input type="hidden" name="goods_image_list" value=' + response.link + ' />';
            $("#photoList").append(photoStr)
        },
        error: function (err) {
            console.info(err);
        }
    });
})

$(".removeGoodsImage").click(function () {
    var id = $(this).attr("data-id")
    var that = $(this)
    if (confirm("确定要删除该图片吗？")) {
        $.get("/merchant/goods/removeGoodsImage", {"goods_image_id": id}, function (response) {
            if (response.success) {
                that.parent().remove()
            }
        })
    }
})
</script>
{{end}}
