{{ define "admin/goods/edit.html" }}
{{ template "admin/public/page_header.html" .}}
<!-- 富文本编辑器 -->
<link href="/static/wysiwyg-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/static/wysiwyg-editor/js/zh_cn.js"></script>
<!-- 上传图片的js css -->
<link rel="stylesheet" type="text/css" href="/static/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/diyUpload/css/diyUpload.css">
<script type="text/javascript" src="/static/diyUpload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/static/diyUpload/js/diyUpload.js"></script>

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-shopping-bag mr-1"></i>修改商品</h3>
    </div>
    <div class="card-body">
        <form action="/admin/goods/doEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{.goods.Id}}" />
            <input type="hidden" name="prevPage" value="{{.prevPage}}" />

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#general" role="tab" data-toggle="tab"><i class="fas fa-info-circle mr-1"></i>通用信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#detail" role="tab" data-toggle="tab"><i class="fas fa-file-alt mr-1"></i>详细描述</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mix" role="tab" data-toggle="tab"><i class="fas fa-palette mr-1"></i>商品属性</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#attribute" role="tab" data-toggle="tab"><i class="fas fa-cogs mr-1"></i>规格与包装</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#photo" role="tab" data-toggle="tab"><i class="fas fa-images mr-1"></i>商品相册</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label text-right">商品标题</label>
                        <div class="col-sm-6">
                            <input type="text" name="title" class="form-control" value="{{.goods.Title}}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">附属标题</label>
                        <div class="col-sm-6">
                            <input type="text" name="sub_title" class="form-control" value="{{.goods.SubTitle}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">商品版本</label>
                        <div class="col-sm-6">
                            <input type="text" name="goods_version" class="form-control" value="{{.goods.GoodsVersion}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">所属分类</label>
                        <div class="col-sm-6">
                            <select name="cate_id" id="cid" class="form-control">
                                {{$cateId := .goods.CateId}}
                                {{range $key,$value := .goodsCateList}}
                                    <option {{if eq $cateId $value.Id}}selected{{end}} value="{{$value.Id}}">{{$value.Title}}</option>
                                    {{range $k,$v := $value.GoodsCateItems}}
                                        <option {{if eq $cateId $v.Id}}selected{{end}} value="{{$v.Id}}"> ----{{$v.Title}}</option>
                                    {{end}}
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">商品图片</label>
                        <div class="col-sm-6">
                            <div class="custom-file mb-2">
                                <input type="file" name="goods_img" class="custom-file-input" id="goodsImg">
                                <label class="custom-file-label" for="goodsImg" data-browse="选择文件">选择图片</label>
                            </div>
                            {{if ne .goods.GoodsImg ""}}
                                <img src="{{.goods.GoodsImg | FormatImg}}" width="80" class="img-thumbnail" />
                            {{end}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">商品价格</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">¥</span></div>
                                <input type="text" name="price" class="form-control" value="{{.goods.Price}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">商品原价</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">¥</span></div>
                                <input type="text" name="market_price" class="form-control" value="{{.goods.MarketPrice}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">商品库存</label>
                        <div class="col-sm-3">
                            <input type="number" name="goods_number" class="form-control" value="{{.goods.GoodsNumber}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">商品排序</label>
                        <div class="col-sm-3">
                            <input type="number" name="sort" class="form-control" value="{{.goods.Sort}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">商品状态</label>
                        <div class="col-sm-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="1" {{if eq .goods.Status 1}}checked{{end}} id="st1">
                                <label class="form-check-label" for="st1">显示</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" value="0" {{if eq .goods.Status 0}}checked{{end}} id="st0">
                                <label class="form-check-label" for="st0">隐藏</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">加入推荐</label>
                        <div class="col-sm-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" name="is_best" {{if eq .goods.IsBest 1}}checked{{end}} id="is_best">
                                <label class="form-check-label" for="is_best">精品</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" name="is_hot" {{if eq .goods.IsHot 1}}checked{{end}} id="is_hot">
                                <label class="form-check-label" for="is_hot">热销</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="1" name="is_new" {{if eq .goods.IsNew 1}}checked{{end}} id="is_new">
                                <label class="form-check-label" for="is_new">新品</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="detail">
                    <textarea name="goods_content" id="content" cols="100" rows="8" class="mt-3">{{.goods.GoodsContent}}</textarea>
                </div>

                <div role="tabpanel" class="tab-pane" id="mix">
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label text-right">商品颜色</label>
                        <div class="col-sm-8">
                            {{range $key,$value := .goodsColorList}}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" {{if eq $value.Checked true}}checked{{end}} value="{{$value.Id}}" name="goods_color" id="color_{{$value.Id}}">
                                <label class="form-check-label" for="color_{{$value.Id}}">{{$value.ColorName}}</label>
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">关联商品</label>
                        <div class="col-sm-6">
                            <input type="text" name="relation_goods" class="form-control" value="{{.goods.RelationGoods}}">
                            <small class="form-text text-muted">商品id，逗号分隔，格式：23,24,39</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">关联赠品</label>
                        <div class="col-sm-6">
                            <input type="text" name="goods_gift" class="form-control" value="{{.goods.GoodsGift}}">
                            <small class="form-text text-muted">可为空，逗号分隔</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">关联配件</label>
                        <div class="col-sm-6">
                            <input type="text" name="goods_fitting" class="form-control" value="{{.goods.GoodsFitting}}">
                            <small class="form-text text-muted">可为空，逗号分隔</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">更多属性</label>
                        <div class="col-sm-6">
                            <input type="text" name="goods_attr" class="form-control" value="{{.goods.GoodsAttr}}">
                            <small class="form-text text-muted">格式: 颜色:红色,白色 | 尺寸:41,42,43</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">SEO关键词</label>
                        <div class="col-sm-6">
                            <input type="text" name="goods_keywords" class="form-control" value="{{.goods.GoodsKeywords}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">SEO描述</label>
                        <div class="col-sm-8">
                            <textarea name="goods_desc" id="goods_desc" class="form-control" rows="4">{{.goods.GoodsDesc}}</textarea>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="attribute">
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label text-right">商品类型</label>
                        <div class="col-sm-6">
                            <select name="goods_type_id" id="goods_type_id" class="form-control">
                                <option value="0">--请选择商品类型--</option>
                                {{$goodsTypeId := .goods.GoodsTypeId}}
                                {{range $key,$value := .goodsTypeList}}
                                <option {{if eq $value.Id $goodsTypeId}}selected{{end}} value="{{$value.Id}}">{{$value.Title}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div id="goods_type_attribute">
                        {{.goodsAttrStr | Str2Html}}
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="photo">
                    <div class="mt-3">
                        <div id="photoList">
                            <ul id="goods_image_list" class="goods_image_list clearfix">
                                {{$goodsColor:=.goodsColorList}}
                                {{range $key,$value := .goodsImageList}}
                                    <li>
                                        <img src="{{$value.ImgUrl | FormatImg}}" class="pic" />
                                        <div class="color_list">
                                            <select class="form-control form-control-sm relation_goods_color" goods_image_id="{{$value.Id}}">
                                                <option value="0">关联颜色</option>
                                                {{range $k,$v := $goodsColor}}
                                                    {{if eq $v.Checked true}}
                                                        <option value="{{$v.Id}}" {{if eq $value.ColorId $v.Id}}selected{{end}}>{{$v.ColorName}}</option>
                                                    {{end}}
                                                {{end}}
                                            </select>
                                        </div>
                                        <div class="goods_image_delete" goods_image_id="{{$value.Id}}"></div>
                                    </li>
                                {{end}}
                            </ul>
                        </div>
                        <div id="photoUploader"></div>
                    </div>
                </div>
            </div>

            <hr>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i>提交</button>
            <a href="javascript:history.back()" class="btn btn-default ml-2"><i class="fas fa-arrow-left mr-1"></i>返回</a>
        </form>
    </div>
</div>

{{ template "admin/public/page_footer.html" .}}
<script>
$('.custom-file-input').on('change', function() {
    var fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').html(fileName || '选择文件');
});

new FroalaEditor('#content', {
    height: 300,
    language: 'zh_cn',
    imageUploadURL: '/admin/goods/editorImageUpload'
});

// 获取商品类型属性
$(function () {
    $("#goods_type_id").change(function () {
        var cateId = $(this).val()
        $.get("/admin/goods/goodsTypeAttribute", { "cateId": cateId }, function (response) {
            var str = ""
            if (response.success) {
                var attrData = response.result;
                for (var i = 0; i < attrData.length; i++) {
                    if (attrData[i].attr_type == 1) {
                        str += '<div class="form-group row"><label class="col-sm-2 col-form-label text-right">' + attrData[i].title + '</label><div class="col-sm-6"><input type="hidden" name="attr_id_list" value="' + attrData[i].id + '" /><input type="text" name="attr_value_list" class="form-control" /></div></div>'
                    } else if (attrData[i].attr_type == 2) {
                        str += '<div class="form-group row"><label class="col-sm-2 col-form-label text-right">' + attrData[i].title + '</label><div class="col-sm-6"><input type="hidden" name="attr_id_list" value="' + attrData[i].id + '"><textarea name="attr_value_list" class="form-control" rows="3"></textarea></div></div>'
                    } else {
                        var attrArray = attrData[i].attr_value.split("\n")
                        str += '<div class="form-group row"><label class="col-sm-2 col-form-label text-right">' + attrData[i].title + '</label><div class="col-sm-6"><input type="hidden" name="attr_id_list" value="' + attrData[i].id + '" /><select name="attr_value_list" class="form-control">'
                        for (var j = 0; j < attrArray.length; j++) {
                            str += '<option value="' + attrArray[j] + '">' + attrArray[j] + '</option>';
                        }
                        str += '</select></div></div>'
                    }
                }
                $("#goods_type_attribute").html(str);
            }
        })
    })
})

// 批量上传图片
$(function () {
    $('#photoUploader').diyUpload({
        url: '/admin/goods/goodsImageUpload',
        success: function (response) {
            var photoStr = '<input type="hidden" name="goods_image_list" value=' + response.link + ' />';
            $("#photoList").append(photoStr)
        },
        error: function (err) {
            console.info(err);
        }
    });
})

$(function(){
    $(".relation_goods_color").change(function(){
        var goods_image_id=$(this).attr("goods_image_id")
        var color_id=$(this).val()
        $.get("/admin/goods/changeGoodsImageColor",{"goods_image_id":goods_image_id,"color_id":color_id},function(response){
            console.log(response)
        })
    })

    $(".goods_image_delete").click(function(){
        var goods_image_id=$(this).attr("goods_image_id")
        var _that=this;
        var flag = confirm("确定要删除吗?");
        if (flag){
            $.get("/admin/goods/removeGoodsImage",{"goods_image_id":goods_image_id},function(response){
                if(response.success){
                    $(_that).parent().remove()
                }
            })
        }
    })
})
</script>
</body>
</html>
{{end}}
