{{ define "merchant/main/welcome.html" }}
{{ template "merchant/public/page_header.html" .}}
{{ template "merchant/public/page_aside.html" .}}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><i class="fas fa-store mr-2"></i>{{.shopName}}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-info-circle mr-1"></i>店铺信息</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="width:120px;font-weight:600;">店铺名称</td>
                                    <td>{{.shopName}}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight:600;">商户账号</td>
                                    <td>{{.username}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="alert alert-info mt-3 mb-0">
                        <i class="fas fa-info-circle mr-1"></i> 欢迎使用商户管理中心！您可以在此管理商品、查看订单。
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{ template "merchant/public/page_footer.html" .}}
{{end}}
