{{ define "merchant/order/index.html" }}
{{ template "merchant/public/page_header.html" .}}
{{ template "merchant/public/page_aside.html" .}}
<script type="text/javascript" src="/static/admin/js/jqPaginator.js"></script>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><i class="fas fa-shopping-cart mr-2"></i>订单列表</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-shopping-cart mr-1"></i>包含我店铺商品的订单</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>订单号</th>
                            <th>收货人</th>
                            <th>联系电话</th>
                            <th>总金额</th>
                            <th>订单状态</th>
                            <th>支付状态</th>
                            <th>下单时间</th>
                            <th>商品明细</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $key,$value := .orderList}}
                        <tr>
                            <td><span class="badge badge-secondary">{{$value.OrderId}}</span></td>
                            <td>{{$value.Name}}</td>
                            <td>{{$value.Phone}}</td>
                            <td><span class="text-danger font-weight-bold">¥{{$value.AllPrice}}</span></td>
                            <td>
                                {{if eq $value.OrderStatus 0}}<span class="badge badge-warning">已下单</span>{{end}}
                                {{if eq $value.OrderStatus 1}}<span class="badge badge-info">已付款</span>{{end}}
                                {{if eq $value.OrderStatus 2}}<span class="badge badge-primary">已配货</span>{{end}}
                                {{if eq $value.OrderStatus 3}}<span class="badge badge-primary">已发货</span>{{end}}
                                {{if eq $value.OrderStatus 4}}<span class="badge badge-success">交易成功</span>{{end}}
                                {{if eq $value.OrderStatus 5}}<span class="badge badge-danger">退货</span>{{end}}
                                {{if eq $value.OrderStatus 6}}<span class="badge badge-secondary">已取消</span>{{end}}
                            </td>
                            <td>
                                {{if eq $value.PayStatus 0}}<span class="badge badge-danger">未支付</span>{{end}}
                                {{if eq $value.PayStatus 1}}<span class="badge badge-success">已支付</span>{{end}}
                            </td>
                            <td>{{UnixToTime $value.AddTime}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#orderModal_{{$value.Id}}">
                                    <i class="fas fa-eye mr-1"></i>查看
                                </button>
                                <div class="modal fade" id="orderModal_{{$value.Id}}">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">订单商品 - {{$value.OrderId}}</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>商品名称</th>
                                                            <th>数量</th>
                                                            <th>单价</th>
                                                            <th>小计</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{range $k,$v := $value.OrderItem}}
                                                        <tr>
                                                            <td>{{$v.ProductTitle}}</td>
                                                            <td>{{$v.ProductNum}}</td>
                                                            <td>¥{{$v.ProductPrice}}</td>
                                                            <td>¥{{Mul $v.ProductPrice $v.ProductNum}}</td>
                                                        </tr>
                                                        {{end}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <div class="pagination" id="pagination"></div>
            </div>
        </div>
    </section>
</div>

{{ template "merchant/public/page_footer.html" .}}
<script>
    $('#pagination').jqPaginator({
        totalPages: {{.totalPages}},
        visiblePages: 5,
        currentPage: {{.page}},
        onPageChange: function (num, type) {
            if(type!='init'){
                location.href="/merchant/order?page="+num;
            }
        }
    });
</script>
{{end}}
