{{ define "admin/goodsType/edit.html" }}
{{ template "admin/public/page_header.html" .}}

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-tags mr-1"></i>修改商品类型</h3>
    </div>
    <div class="card-body">
        <form action="/admin/goodsType/doEdit" method="post">
            <input type="hidden" name="id" value="{{.goodsType.Id}}" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">类型名称</label>
                <div class="col-sm-6">
                    <input type="text" name="title" class="form-control" value="{{.goodsType.Title}}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">类型描述</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control" rows="5">{{.goodsType.Description}}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">状态</label>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status1" value="1" {{if eq .goodsType.Status 1}}checked{{end}}>
                        <label class="form-check-label" for="status1">显示</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="status0" value="0" {{if eq .goodsType.Status 0}}checked{{end}}>
                        <label class="form-check-label" for="status0">隐藏</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-2">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i>提交</button>
                    <a href="javascript:history.back()" class="btn btn-default ml-2"><i class="fas fa-arrow-left mr-1"></i>返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{ template "admin/public/page_footer.html" .}}
{{end}}
